<template>
    <div>
    <div class="card" v-for="acto in actos">
        <div class="card-body">
            <h5 class="card-title">{{acto.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{acto.value.replace(/{|}|'/g, "")}}</h6>
            <p class="card-text"></p>
            <a href="#" class="card-link">link al PDF</a>
            <a href="#" class="card-link">otro link</a>
        </div>
    </div>

    </div>
</template>

<script>
    export default {
        props: {
            empresa: Object,
        },
        data(){
            return {
                actos: []
            }
        },
        methods: {
            mostrarActos(){
                this.$http.post('../actos', {
                    id: this.empresa.id
                }).then(response => {
                    this.actos = response.body;
                }, response => {
                    alert('Error en function mostrarActos()');
                });
            }
        },
        mounted(){
            this.mostrarActos();
        }
    }
</script>

<style scoped>

</style>