<template>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-secondary">
                <div class="card-body">
                    <h5 class="card-title">Listado de BORMES donde aparece la empresa:</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-secondary">
                <div class="card-body">
                    <ul v-for="borme in bormes">
                        <li>Número: {{borme.num}} Fecha: {{borme.date}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            empresa: Object,
        },
        data(){
            return {
                bormes: []
            }
        },
        methods: {
            mostrarBormes(){
                this.$http.post('../bormes', {
                    id:this.empresa.id
                }).then(response => {
                    this.bormes = response.body;
                }, response => {
                    alert('Error en function mostrarBormes()');
                });
            }
        },
        mounted(){
            this.mostrarBormes();
        }
    }
</script>

<style scoped>

</style>