<template>
    <div class="container">
        <div v-if="comentarios != 0">
            <div class="card" v-for="comentario in comentarios">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img :src="'/empleadores/public/images/' + comentario.avatar" class="img img-rounded img-fluid"/>
                            <p class="text-secondary text-center">{{comentario.created_at}}</p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="float-left" href=""><strong>{{comentario.name}}</strong></a>
                            </p>
                            <div class="clearfix"></div>
                            <h5>{{comentario.titulo}}</h5>
                            <p>{{comentario.descripcion}}</p>
                            <p>
                                <a class="float-right btn btn-outline-primary ml-2" v-on:click="mostrarFormularioRespuesta(formularioRespuestaComentario, comentario.id)"> <i class="fa fa-reply"></i> Contestar</a>
                                <button v-if="user_id == 0" class="float-right btn btn-danger" v-on:click="alert"> <i class="fas fa-thumbs-down"></i>({{comentario.total_dislikes}})</button>
                                <button v-else class="float-right btn btn-info" v-on:click="guardarDislikeComentario(comentario.id)"> <i class="fas fa-thumbs-down"></i>({{comentario.total_dislikes}})</button>
                                <button v-if="user_id == 0" class="float-right btn btn-danger" v-on:click="alert"> <i class="fas fa-thumbs-up"></i>({{comentario.total_likes}})</button>
                                <button v-else class="float-right btn btn-danger" v-on:click="guardarLikeComentario(comentario.id)"> <i class="fas fa-thumbs-up"></i>({{comentario.total_likes}})</button>
                            </p>
                        </div>
                    </div>
                    <div class="card card-inner" v-if="formularioRespuestaComentario && formularioRespuestaComentarioId == comentario.id">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img :src="'/empleadores/public/images/' + user.avatar" class="img img-rounded img-fluid"/>
                                </div>
                                <div class="col-md-10">
                                    <p><a href=""><strong>{{user.name}}</strong></a></p>
                                    <input placeholder="Título" class="form-control" v-model="response.titulo"/>
                                    <textarea placeholder="descripción" class="form-control" id="descripcion" rows="1" v-model="response.descripcion"></textarea>
                                    <div class="text-center mt-4">
                                        <button class="btn btn-primary btn-md float-right" type="button" v-on:click="guardarRespuesta(comentario.id)">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button v-if="comentario.respuestas.length != 0" class="btn btn-primary btn-md" type="button" v-on:click="mostrarRespuestas(mostrarRespuesta, comentario.id)">
                        <strong v-if="mostrarRespuesta && comentarioIdRespuesta == comentario.id">
                            Quitar respuestas
                            </strong>
                        <strong v-else>
                            Mostrar respuestas
                        </strong>
                    </button>
                    <div v-if="mostrarRespuesta && comentarioIdRespuesta == comentario.id">
                        <div class="card card-inner" v-for="respuesta in comentario.respuestas">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img :src="'/empleadores/public/images/' + respuesta.user.avatar" class="img img-rounded img-fluid"/>
                                        <p class="text-secondary text-center">{{respuesta.created_at}}</p>
                                    </div>
                                    <div class="col-md-10">
                                        <p><a href=""><strong>{{respuesta.user.name}}</strong></a></p>
                                        <h6>{{respuesta.titulo}}</h6>
                                        <p>{{respuesta.descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="user_id != 0" class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img :src="'/empleadores/public/images/' + user.avatar" class="img img-rounded img-fluid"/>
                </div>
                <div class="col-md-10">
                    <p><a href=""><strong>{{user.name}}</strong></a></p>
                    <input placeholder="título" class="form-control" v-model="comment.titulo"/>
                    <textarea placeholder="descripción" class="form-control" rows="1" v-model="comment.descripcion"></textarea>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-md float-right" type="button" v-on:click="guardarComentario()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Default form reply -->
</template>

<script>
    export default {
        props: {
            empresa: Object,
            user_id: Number,
            user: Object,
            users: Array,
        },
        data(){
            return {
                comment: {
                    titulo: '',
                    descripcion: ''
                },
                response: {
                    titulo: '',
                    descripcion: ''
                },
                comentarios: [0],
                formularioRespuestaComentario: false,
                mostrarRespuesta: false,
                comentarioIdRespuesta: 0,
                formularioRespuestaComentarioId: 0,
                mostrarFormulario: false,
            }
        },
        methods: {
            mostrarComentarios(){
                this.$http.post('../comentarios', {
                    id:this.empresa.id
                }).then(response => {
                    this.comentarios = response.body;
                }, response => {
                    alert('Error en function mostrarComentarios()');
                });
            },
            guardarComentario(){
                this.$http.post('../guardarComentarios', {
                    titulo: this.comment.titulo,
                    descripcion: this.comment.descripcion,
                    empresa_id: this.empresa.id,
                    user_id: this.user_id
                }).then(response => {
                    this.comentarios = response.body;
                    this.comment.titulo = '';
                    this.comment.descripcion = '';
                }, response => {
                    alert('Error. Tiene que poner título y descripción. ');
                });
            },
            mostrarFormularioRespuesta (formularioRespuestaComentario, formularioRespuestaComentarioId) {
                if (this.user_id != 0 && !formularioRespuestaComentario) {
                    this.formularioRespuestaComentario = true;
                    this.formularioRespuestaComentarioId = formularioRespuestaComentarioId;
                }
                else {
                    this.formularioRespuestaComentario = false;
                    this.formularioRespuestaComentarioId = 0;
                    if (this.user_id == 0) {
                        alert("Tiene que loguearse o registrarse primero.");
                    }
                }
            },
            guardarRespuesta(comentario_id){
                this.$http.post('../guardarRespuestas', {
                    titulo: this.response.titulo,
                    descripcion: this.response.descripcion,
                    comentario_id: comentario_id,
                    user_id: this.user_id,
                    empresa_id: this.empresa.id,
                }).then(response => {
                    this.comentarios = response.body;
                    this.mostrarFormularioRespuesta(false);
                    this.response.titulo = "";
                    this.response.descripcion = "";
                }, response => {
                    alert('Error. Tiene que poner título y descripción. ');
                });
            },
            mostrarRespuestas (mostrarRespuesta, comentarioIdRespuesta) {
                if (mostrarRespuesta) {
                    this.mostrarRespuesta = false;
                    this.comentarioIdRespuesta = 0;
                }
                else {
                    this.mostrarRespuesta = true;
                    this.comentarioIdRespuesta = comentarioIdRespuesta;
                }
            },
            guardarLikeComentario (comentario_id) {
                this.$http.post('../guardarLikeComentario', {
                    comentario_id: comentario_id,
                    user_id: this.user_id,
                    empresa_id: this.empresa.id,
                }).then(response => {
                    this.comentarios = response.body;
                }, response => {
                    alert('Error. function guardarLikeComentario() Vue ');
                });
            },
            guardarDislikeComentario (comentario_id) {
                this.$http.post('../guardarDislikeComentario', {
                    comentario_id: comentario_id,
                    user_id: this.user_id,
                    empresa_id: this.empresa.id,
                }).then(response => {
                    this.comentarios = response.body;
                }, response => {
                    alert('Error. function guardarDislikeComentario() Vue ');
                });
            },
            alert () {
                alert('tiene que loguerse para poder hacerlo');
            },
        },
        mounted(){
            this.mostrarComentarios();
        }
    }
</script>

<style scoped>

</style>